In [1]:
#Ques2: Describe the role of predefined keywords in Python and provide examples of how 
#they are used in a program?

In [2]:
a=100
if a>0:
    print("The number is greater than 0")

The number is greater than 0

In [3]:
score = 80
if score >50:
    print("You are pass")

You are pass

In [4]:
score = 80
if score >50:
    print("You are pass") # executes only if condition is true
else:
    print("You are fail") # if the condition is not true this block will be exceuted

You are pass

In [5]:
age = 18
if age <=18:
    print("You are eligible to vote") #executes only if condition is true
else:
    print("You are not eligible to vote") # executes if condition is not true

You are eligible to vote

In [6]:
score =94
if score>90:
    print("You are passed with A grade")
elif (80<=score>70):
    print("You are passed with B grade")
elif (60<=score>50):
    print("You are passed with C grade")
else:
    print("You are fail")

You are passed with A grade

In [7]:
# nested if else >> you can have multiple if else inside if else
x = 7
y = 6
if x>5:
    if y>5:
        print ("Both x and y greater than 5")
    else:
        print ("The number is greater than y but smaller than 5")
else:
    print ("x is not greater than 5")

Both x and y greater than 5

In [8]:
# it is a nested if else statement, that means if else inside if else
is_vip = False
age = 15
if is_vip:
    if age >=18:
        if age < 65:
            print("welcome to vip customer")
        else: 
            print("You are vip and very imp. YOu are eligible for senior citizen discount")
    else:
        print("Vip staus is only for adult")
else:
    print("You are not a vip customer and will be charged a regular price")

You are not a vip customer and will be charged a regular price

In [9]:
# for loop
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
# for loop with break
name = [2, 3, "Ananyaa", "Pooja"]
for i in name:
    if i == "Ananyaa":
        break
    print(i) 
# break terminates/exits the loop

2
3

In [11]:
# for loop with continue
for i in name:
    if i == "Ananyaa":
        continue
    print (i)
# The condition is met it will break loop

2
3
Pooja

In [12]:
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
else:
    print("This will be executed when the while is run successfuly without any break")

1
2
3
4
5
6
This will be executed when the while is run successfuly without any break

In [13]:
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
    if i == 3:
        break
else:
    print("This will be executed when the while is run successfuly without any break")

1
2

In [14]:
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
    if i == 3:
        continue
else:
    print("This will be executed when the while is run successfuly without any break")

1
2
3
4
5
6
This will be executed when the while is run successfuly without any break

In [15]:
# Ques 3: Compare and contrast mutable and immutable objects in Python with example?

In [16]:
# mutable objects means which can be changed 
# list, dictionary and sets and mutable objects
my_list = [2, 3.4, "Mango", "Orange", "Banana"]
print(my_list)
print (my_list[3])
my_list[3] = "Kiwi"
print (my_list)
# in this list orange is changed with kiwi so that list is mutable

[2, 3.4, 'Mango', 'Orange', 'Banana']
Orange
[2, 3.4, 'Mango', 'Kiwi', 'Banana']

In [17]:
# immutable objects are those which cannot be changes
# integer, float, tuple, String
my_tuple = (2, 3, "Brinjal", "Tomato", "Potato", "Capcicum")
print(my_tuple)
print (my_tuple[3])
my_tuple[3] = "Onion"
print (my_tuple)
# item assignment is not poosible in tupple that means tuple is immutable

(2, 3, 'Brinjal', 'Tomato', 'Potato', 'Capcicum')
Tomato

TypeError: 'tuple' object does not support item assignment

In [18]:
# Oues 4:Discuss the different types of operators in Python and provide examples of how they are used?

In [19]:
# Arithematic Operator
a = 7
b = 5
print (a+b)
print (a-b)
print (a*b)
print (a/b)
print (a//b)
print (a%b)
print (a**b)

12
2
35
1.4
1
2
16807

In [20]:
# Comparision Operator
a = 8
b = 5
print (a==b)
print (a!=b)
print (a>b)
print (a<b)
print (a>=b)
print (a<=b)

False
True
True
False
True
False

In [21]:
# Assignment Operator 
x =10  # assigning a value to x
x += 5  
print(x) 
x -= 3  
print(x)
x*=3
print(x)
x/=3
print(x)
x//=3
print(x)
x%=3
print(x)
x**=3
print(x)

15
12
36
12.0
4.0
1.0
1.0

In [22]:
# Logical Operator
a = True
b = False

# AND operation
print(a and b)

# OR operation
print(a or b) 

# NOT operation
print(not a)

False
True
False

In [23]:
# Bitwise Operator
a = 5 
b = 3
print(a & b)  
print(a << 1)  
print(a >> 1)

1
10
2

In [24]:
# Membership Operator
my_list = [1, 2, 3, 4]
print(2 in my_list)  
print(5 not in my_list)

True
True

In [25]:
#Ques5: Explain the concept of typecasting in Python with examples?

In [27]:
a = 5
type(a)

int

In [29]:
a = 3.3
type (a)

float

In [30]:
a = "Ananyaa"
type (a)

str

In [31]:
#Converting String to Integer
a = "100"
print (a)
print(type(a))
b = int(a)
print (b)
print(type (b))

100
<class 'str'>
100
<class 'int'>

In [32]:
#Converting Float to Integer
a = 3.3
print (a)
print(type(a))
b = int(a)
print (b)
print(type (b))

3.3
<class 'float'>
3
<class 'int'>

In [33]:
# Converting Integer to String
a = 3
print (a)
print(type(a))
b = str(a)
print (b)
print(type (b))

3
<class 'int'>
3
<class 'str'>

In [34]:
# Converting List to Tuple
a = [1, 2, 3]
print (a)
print(type(a))
b = tuple(a)
print (b)
print(type (b))

[1, 2, 3]
<class 'list'>
(1, 2, 3)
<class 'tuple'>

In [35]:
#Ques 6: How do conditional statements work in Python. Illustrate with an example?

In [36]:
#if-statement
a=100
if a>20:
    print("The number is greater than 0")

The number is greater than 0

In [37]:
# if-else Statement
age = 18
if age <=18:
    print("You are eligible to vote") #executes only if condition is true
else:
    print("You are not eligible to vote") # executes if condition is not true

You are eligible to vote

In [38]:
# if-elif-else Statement
score =94
if score>90:
    print("You are passed with A grade")
elif (80<=score>70):
    print("You are passed with B grade")
elif (60<=score>50):
    print("You are passed with C grade")
else:
    print("You are fail")

You are passed with A grade

In [39]:
# Nested if statement
x = 7
y = 6
if x>5:
    if y>5:
        print ("Both x and y greater thann 5")
    else:
        print ("The number is greater than y but smaller than 5")
else:
    print ("x is not greater than 5")

Both x and y greater thann 5

In [40]:
#Ques 7: Describe the different types of loops in Python and their use cases with examples?

In [41]:
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
else:
    print("This will be executed when the while is run successfuly without any break")

1
2
3
4
5
6
This will be executed when the while is run successfuly without any break

In [42]:
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
    if i == 3:
        break
else:
    print("This will be executed when the while is run successfuly without any break")

1
2

In [43]:
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
    if i == 3:
        continue
else:
    print("This will be executed when the while is run successfuly without any break")

1
2
3
4
5
6
This will be executed when the while is run successfuly without any break

In [44]:
# for loop
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [45]:
# for loop with break
name = [2, 3, "Ananyaa", "Pooja"]
for i in name:
    if i == "Ananyaa":
        break
    print(i)

2
3

In [46]:
# for loop with continue
for i in name:
    if i == "Ananyaa":
        continue
    print (i)

2
3
Pooja